<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>https://apps.apple.com/app/id6742784660</string>
	<key>privacy</key>
	<string>https://telegra.ph/Privacy-Policy-of-CVBuilder-03-04</string>
	<key>terms</key>
	<string>https://telegra.ph/Terms--Conditions-03-04-3</string>
	<key>email</key>
	<string>amna1100999@mail.ru</string>
	<key>adapty</key>
	<string>public_live_70smeKMG.bEBYlv4vetCaA1N7gQGt</string>
</dict>
</plist>
