<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>https://apps.apple.com/app/id6742376474</string>
	<key>privacy</key>
	<string>https://justpaste.it/gc8j2</string>
	<key>terms</key>
	<string>https://justpaste.it/bvrz3</string>
	<key>email</key>
	<string>ashlenyicole6549@gmail.com</string>
	<key>adapty</key>
	<string>public_live_QDTOUFrh.9GHQ5tXZnQrj9mxI5ehQ</string>
	<key>logoApi</key>
	<string>pk_CcIJTAl0TuudPccOVucPzg</string>
</dict>
</plist>
